#pins-feed-follow {
	display:block;
	padding:5px;
	text-align:center;
	width:100%;
}

ul.pins-feed-list {
	list-style:none !important;
	list-style-type:none !important;
	margin:0;
	padding:0;
}

li.pins-feed-item {
	list-style:none !important;
	list-style-type:none !important;
	float:left;
	font-size:12px;
	line-height:14px;
	margin:5px;
	padding:0;
	text-align:center;
}

.pins-feed-item .imgtitle {
	height:25px;
	margin:5px 0;
}

.pinsClear { clear:both; }